.inteiro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    padding-bottom: 20px;
}
.sliderUnicoDireita{
    background-color: blueviolet;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 800px;
    height: 800px;
    margin-right: -2000px;
    -webkit-animation: sliderDireita 1s forwards;
    -webkit-animation-delay:1s;
    animation: sliderDireita 1s forwards;
    animation-delay: 0;
    animation-play-state: paused;
}
.sliderUnicoEsquerda{
    background-color:deepskyblue;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 800px;
    height: 800px;
    margin-left: -2000px;
    -webkit-animation: sliderEsquerda 1s forwards;
    -webkit-animation-delay:1s;
    animation: sliderEsquerda 1s forwards;
    animation-delay: 0;
    animation-play-state: paused;
}
.sliderDuplo{
    background-color: fff;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: space-between;
}
.sliderEsquerda{
    background-color: deeppink;
    border-radius: 10px;
    width: 390px;
    height: 800px;
    margin-left: -2000px;
    -webkit-animation: sliderEsquerda 1s forwards;
    -webkit-animation-delay:1s;
    animation: sliderEsquerda 1s forwards;
    animation-delay: 0;
    animation-play-state: paused;
}
.sliderDireita{
    background-color: deeppink;
    border-radius: 10px;
    width: 390px;
    height: 800px;
    margin-right: -2000px;
    -webkit-animation: sliderDireita 1s forwards;
    -webkit-animation-delay:1s;
    animation: sliderDireita 1s forwards;
    animation-delay: 0;
    animation-play-state: paused;
}

@keyframes sliderDireita{
    0%{
        margin-right: -2000px;
    }
    100%{
        margin-right: 0;
    }
}
@keyframes sliderEsquerda{
    0%{
        margin-left: -2000px;
    }
    100%{
        margin-left: 0;
    }
}

.move{
    animation-play-state: running!important;
}
